# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

First importing pandas and numpy

In [0]:
# Imports
import pandas as pd
import numpy as np

Creating a function to join the neighborhoods with same borough in a string saparated with a comma.

In [0]:
# Function 
def concat(x):
  return pd.Series(dict(Postcode = x['Postcode'].max(),
                        Borough = x['Borough'].max(),
                        Neighborhood = ', '.join(x['Neighborhood'])))

* Importing data
* Ignoring cells with a borough that is Not assigned
* Grouping (with above function)
* Substituting not assigned neighborhood to borough name

In [0]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(link)[0]
df = df[df['Borough'] != 'Not assigned']

df = df.groupby(['Postcode', 'Borough']).apply(concat) # Grouping
df['Neighborhood'].replace('Not assigned', df['Borough'], inplace=True) # Subs not assigned to borough name
df.reset_index(inplace=True, drop=True)

In [4]:
df.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [5]:
print("The dataframe has %d rows." % df.shape[0])

The dataframe has 103 rows.

**References:**

https://stackoverflow.com/questions/52865169/how-to-read-wikipedia-table-of-2018-in-film-using-python-pandas-and-beautifulsou

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

https://stackoverflow.com/questions/17841149/pandas-groupby-how-to-get-a-union-of-strings